body {
    font-family: Arial, sans-serif;
    background-image: url('plsp.jpg');
    background-repeat: no-repeat;
    image-rendering: optimizeQuality;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 0%;
    margin: 0%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.678), 0 0 10px rgba(0, 0, 0, 0.719);
    color: rgb(0, 0, 0);
  }
  
  .logo {
    align-items:center ;
    width: 80px;
    height: 70px;
    display: block;
    margin: 0 auto; 
    background-image: url('logo.png');
    background-size: cover;
    background-repeat: round;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.719);
  }
  
  .container {
    border: 3px solid rgb(12, 173, 12);
    color: #ffffff;
    text-align: center;
    text-shadow: #999797;
    margin-top: 2%;
    position: relative;
    padding: 1px;
    width: 70%;
    margin: 40px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.719);
    background-color: #000000a9;
  }

  .social-media {
    margin-top: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #e0e0e0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.678);
  }
  
  .fade-in {
    opacity: 0;
    animation: fadeInAnimation 1s ease-in forwards;
  }
  
  @keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }
  .profile-info {
      display: none;
    }

button {
  padding: 10px;
  margin-top: 15px; 
  margin-bottom: 15px; 
  border: none;
  background-color: #219252;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100%; 
}

button:hover {
  background-color: #45a049;
}

.header {
  overflow: hidden;
  background-color: rgba(6, 19, 11, 0.493);
  padding: 10px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.678);
}

.header a {
  float: left;
  color: rgb(1, 2, 1);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
  margin-right: 8px;
  background-color: #999797;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

label {
  margin-bottom: 5px;
}

  h1 {
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.678);
}
  
.nav-item a{
  color: rgb(0, 0, 0);
}body {
    font-family: Arial, sans-serif;
    background-image: url('plsp.jpg');
    background-repeat: no-repeat;
    image-rendering: optimizeQuality;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 0%;
    margin: 0%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.678), 0 0 10px rgba(0, 0, 0, 0.719);
    color: rgb(0, 0, 0);
  }
  
  .logo {
    align-items:center ;
    width: 80px;
    height: 70px;
    display: block;
    margin: 0 auto; 
    background-image: url('logo.png');
    background-size: cover;
    background-repeat: round;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.719);
  }
  
  .container {
    border: 3px solid rgb(12, 173, 12);
    color: #ffffff;
    text-align: center;
    text-shadow: #999797;
    margin-top: 2%;
    position: relative;
    padding: 1px;
    width: 70%; 
    margin: 40px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.719);
    background-color: #000000a9;
  }

  .social-media {
    margin-top: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #e0e0e0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.678);
  }
  
  
  /* fade ifficts */
  .fade-in {
    opacity: 0;
    animation: fadeInAnimation 1s ease-in forwards;
  }
  
  @keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }
  .profile-info {
      display: none;
    }

button {
  padding: 10px;
  margin-top: 15px; 
  margin-bottom: 15px; 
  border: none;
  background-color: #219252;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #45a049;
}

.header {
  overflow: hidden;
  background-color: rgba(6, 19, 11, 0.493);
  padding: 10px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.678);
}

.header a {
  float: left;
  color: rgb(1, 2, 1);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
  margin-right: 8px;
  background-color: #999797;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

label {
  margin-bottom: 5px;
}

  h1 {
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.678);
}
  
.nav-item a{
  color: rgb(0, 0, 0);
}body {
    font-family: Arial, sans-serif;
    background-image: url('plsp.jpg');
    background-repeat: no-repeat;
    image-rendering: optimizeQuality;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 0%;
    margin: 0%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.678), 0 0 10px rgba(0, 0, 0, 0.719);
    color: rgb(0, 0, 0);
  }
  
  .logo {
    align-items:center ;
    width: 80px;
    height: 70px;
    display: block;
    margin: 0 auto; 
    background-image: url('logo.png');
    background-size: cover;
    background-repeat: round;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.719);
  }
  
  .container {
    border: 3px solid rgb(12, 173, 12);
    color: #ffffff;
    text-align: center;
    text-shadow: #999797;
    margin-top: 2%;
    position: relative;
    padding: 1px;
    width: 70%; 
    margin: 40px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.719);
    background-color: #000000a9;
  }

  .social-media {
    margin-top: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #e0e0e0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.678);
  }
  
  

  .fade-in {
    opacity: 0;
    animation: fadeInAnimation 1s ease-in forwards;
  }
  
  @keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }
  .profile-info {
      display: none;
    }

button {
  padding: 10px;
  margin-top: 15px; 
  margin-bottom: 15px; 
  border: none;
  background-color: #219252;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100%; 
}

button:hover {
  background-color: #45a049;
}

.header {
  overflow: hidden;
  background-color: rgba(6, 19, 11, 0.493);
  padding: 10px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.678);
}

.header a {
  float: left;
  color: rgb(1, 2, 1);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
  margin-right: 8px;
  background-color: #999797;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

label {
  margin-bottom: 5px;
}

  h1 {
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.678);
}
  
.nav-item a{
  color: rgb(0, 0, 0);
}body {
    font-family: Arial, sans-serif;
    background-image: url('plsp.jpg');
    background-repeat: no-repeat;
    image-rendering: optimizeQuality;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 0%;
    margin: 0%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.678), 0 0 10px rgba(0, 0, 0, 0.719);
    color: rgb(0, 0, 0);
  }
  
  .logo {
    align-items:center ;
    width: 80px;
    height: 70px;
    display: block;
    margin: 0 auto; 
    background-image: url('logo.png');
    background-size: cover;
    background-repeat: round;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.719);
  }
  
  .container {
    border: 3px solid rgb(12, 173, 12);
    color: #ffffff;
    text-align: center;
    text-shadow: #999797;
    margin-top: 2%;
    position: relative;
    padding: 1px;
    width: 70%; 
    margin: 40px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.719);
    background-color: #000000a9;
  }

  .social-media {
    margin-top: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #e0e0e0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.678);
  }
  
  
  /* fade ifficts */
  .fade-in {
    opacity: 0;
    animation: fadeInAnimation 1s ease-in forwards;
  }
  
  @keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }
  .profile-info {
      display: none;
    }

button {
  padding: 10px;
  margin-top: 15px; 
  margin-bottom: 15px; 
  border: none;
  background-color: #219252;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100%; 
}

button:hover {
  background-color: #45a049;
}

.header {
  overflow: hidden;
  background-color: rgba(6, 19, 11, 0.493);
  padding: 10px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.678);
}

.header a {
  float: left;
  color: rgb(1, 2, 1);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
  margin-right: 8px;
  background-color: #999797;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

label {
  margin-bottom: 5px;
}

  h1 {
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.678);
}
  
.nav-item a{
  color: rgb(0, 0, 0);
}